@import 'variables';
@import 'mixins';

body, html {
  @include flex(column, center, center);
  font: 100%/1.5 $font-stack;
  background-color: $light;
  color: $dark;
  width: 100vw;
}


a {
  color: $accent;
  transition: all 300ms;
  text-decoration: none;
  border-bottom: 2px solid $accent;
  &:hover{
    color: darken($accent, 20%);
    border-bottom-color: darken($accent, 20%);
  }
}

.header {
  @include flex(column, center, center);
  @include text-gradient();
  flex: 0 0 20rem;
  width: 100%;
  h1 {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: .5rem;
    padding-bottom: $main-spacing*2;
  }
}

.container {
  @include flex(column, flex-start, center);
  padding: 0 $main-spacing;
  @media #{$desktop} {
    flex-direction: row;
    align-items: flex-start;
  }
}

.main-nav {
  @include flex(row, space-around, center);
  margin-bottom: $main-spacing;
  flex: 1;
  a {
    padding: $main-spacing/2 $main-spacing;
  }
  @media #{$desktop}{
    flex: 1;
    flex-direction: column;
  }
}

.content {
  flex: 1;
  padding: 0 $main-spacing/2;
  @media #{$desktop}{
    flex: 3;
  }
}

.article {
  width: 100%;
  margin-bottom: $main-spacing;
  border-bottom: 1px solid $accent;
  &-title:hover {
    transition: color 300ms;
    color: $accent;
  }
  &-img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  &-meta {
    color: lighten($dark, 40%);
  }
  @media #{$desktop} {
    width: 80%;
  }
}

.main-footer {
  @include flex(row, center, center);
  width: 100%;
  padding: $main-spacing;
  background-color: lighten($accent, 20%);
}

.footer-nav {
  a {
    color: $light;
    margin: 0 $main-spacing;
  }
  @media #{$desktop}{
    flex-direction: row;
  }
}